<section class="toolbar_navigation-container">
  <h1>Menu</h1>
  <nav>
    <ul class="toolbar_navigating-list">
      <li routerLink="/dashboard" routerLinkActive="exact_route">
        <button> <i class="pi pi-chart-bar
          " style="font-size: 1.5rem"></i>
          Relátorio
        </button>
      </li>
      <li routerLink="/abastecer" routerLinkActive="exact_route">
        <button> <i class="pi pi-car
          " style="font-size: 1.5rem"></i>
          Abastecer </button>
      </li>
      <li routerLink="/tanques" routerLinkActive="exact_route">
        <button> <i class="pi pi-database
          " style="font-size: 1.5rem"></i>
          Tanques </button>
      </li>
      <li routerLink="/config" routerLinkActive="exact_route">
        <button> <i class="pi pi-cog
          " style="font-size: 1.5rem"></i>
          Configurações </button>
      </li>
    </ul>
  </nav>
</section>