.container  {
  padding: 2rem;
}


.thead {
  display: flex;
  padding: 20px;
  background-color:darkgray ;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-content: center;
  align-items: center;
}
