<!-- Modal abastecer  -->
<div>
  <form [formGroup]="fillTankForm" (ngSubmit)="handleSubmitAddFuel()">
    <div class="card flex flex-column md:flex-column gap-3">

      <input pInputText placeholder="Quantidade de litros" type="number" formControlName="liters" />

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">

        <p-button [disabled]="!fillTankForm.valid" type="Submit" label="Abastecer"></p-button>

      </div>

    </div>
  </form>
</div>
