<div class="grid">
  <div class="col-12">

    <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Taques de combustíveis">
      <div class="flex justify-content-around flex-wrap">
        <p-card *ngFor="let tank of tanks" header="{{tank?.name}}" subheader="{{ tank?.id }}" [style]="{ width: '360px' }" styleClass="flex ">
          <h1>Quantidade: {{tank.liters.toLocaleString('pt-BR')}}L</h1>
          <p-button label="Abastecer" icon="pi pi-bolt" (onClick)="handleFillTankEvent(fuelTankEvent, tank.id)" [style]="{color: 'white', marginTop: '1.5rem'}" pTooltip="Abastecer tanque? {{tank?.name}}" tooltipPosition="top"></p-button>
        </p-card>
      </div>

    </p-card>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
