<div class="grid">
  <div class="col-12">

    <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Taques de combustíveis">
      <p-card *ngFor="let tank of tanks" header="{{tank.name}}" subheader="Card Subheader" [style]="{ width: '360px' }">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
        <ng-template pTemplate="footer">
          <p-button label="Abastecer" icon="pi pi-bolt"></p-button>
        </ng-template>
      </p-card>
    </p-card>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
